@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-blue-900 mb-2 text-xl;
}

img {
  max-height: 100%;
}

input,
textarea,
select {
  @apply border-2 border-gray-200 rounded-md px-1 w-full;
  @apply mb-2;
}
input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}
label {
  @apply text-blue-900;
}
.btn-primary {
  @apply bg-blue-900 text-white px-4 rounded-md py-1;
}
table.table-basic {
  @apply w-full;
}
table.table-basic thead tr td {
  @apply bg-blue-100;
}
table.table-basic tr td {
  @apply border  p-1 border-blue-300;
}
table.table-basic a {
  @apply bg-blue-900 text-white text-sm py-1 px-2 rounded-sm inline-flex gap-1 mr-1;
}
.btn-red,
.btn-default {
  @apply px-4 py-1 rounded-md;
}
.btn-red {
  @apply bg-red-900 text-white;
}

.btn-default {
  @apply bg-gray-500 text-white;
}
.csd {
  cursor: progress;
}
.TableRow {
  border-top: 1px solid black;
}
.headding-capital {
  text-transform: capitalize;
}
.productCount {
  background-color: rgb(213, 213, 213);
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: capitalize;
}
.productCount:hover {
  background-color: rgb(146, 146, 146);
}
.productCount.active {
  background-color: rgb(146, 146, 146);
}
.productCount h1 {
  font-weight: 700;
}

.productCount p {
  font-weight: 600;
}
.productDetails tr td {
  border-top: 1px dotted rgb(0, 0, 0);
}
.orderProductEven {
  color: rgb(138, 5, 5);
}
.orderPrice {
  text-align: center;
  color: blueviolet;
}
.orderButton button {
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  width: 100%;
}
.orderButton span {
  font-size: 13px;
  color: red;
}
.orderButton :nth-child(1) {
  background-color: rgb(85, 85, 85);
}
.orderButton :nth-child(3) {
  background-color: rgb(138, 5, 5);
}
.orderButton :nth-child(1):hover {
  background-color: rgb(48, 48, 48);
}
.orderButton :nth-child(3):hover {
  background-color: rgb(99, 0, 0);
}

.leading-relaxed {
  text-transform: capitalize;
  font-size: larger;
  font-weight: 700;
}

.container-scroller{
  @apply  w-full h-full flex justify-center items-center;
}

.container-fluid {
  max-width: 400px;
}
.invoice-container{

}
.invoice-container table tr td {
  font-size: 12px;
  padding :4px 10px;
}
@media print {
  .no-print {
    display: none;
    color: white;
  }
  aside{
    display: none;
  }
}
